language: java
sudo: false

addons:
  sonarcloud:
    organization: "wojciechzankowski-github"

jdk:
- openjdk8
- openjdk9
- openjdk10
- openjdk11
- openjdk12

script:
- mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent package sonar:sonar

after_success:
- bash <(curl -s https://codecov.io/bash)