language: java
sudo: false

addons:
  sonarqube:
    organization: "wojciechzankowski-github"

jdk:
- oraclejdk8
- openjdk9
- openjdk10
- openjdk11

script:
- mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent package sonar:sonar

after_success:
- bash <(curl -s https://codecov.io/bash)